<footer class="footer mt-5 py-5 h-auto text-base text-third-text-color relative border-t-2 border-t-border-color">
    <div class="info-container py-3 flex flex-col items-center">
        
         <div class="flex flex-col items-start">
            <div><i class="fa-solid fa-signs-post fa-fade" style="--fa-beat-fade-opacity: 0.67; --fa-beat-fade-scale: 1.075;"></i>&nbsp;101-0052</div>
            <div class="mt-2"><i class="fa-solid fa-location-dot fa-bounce" style="--fa-beat-fade-opacity: 0.67; --fa-beat-fade-scale: 1.075;"></i>&nbsp;東京都千代田区神田須田町 1-26-27 松浦ビル 7F</div>
            <div class="mt-2"><i class="fa-solid fa-envelope fa-beat" style="--fa-beat-fade-opacity: 0.67; --fa-beat-fade-scale: 1.075;"></i>&nbsp;jimu@it-cocreation.co.jp</div>
            <div class="mt-2"><i class="fa-solid fa-phone fa-shake" style="--fa-beat-fade-opacity: 0.67; --fa-beat-fade-scale: 1.075;"></i>&nbsp;036-811-6123</div>
            <div class="mt-5">© 2023 Copyright: 株式会社 IT共創（略称：ITCC） Co.,Ltd. All rights Reserved</div>
    </div>
    </div>
</footer>